import /vendor/etc/init/hw/init.lenovo.common.rc
import /vendor/etc/init/hw/init.fpc.rc
import /vendor/etc/init/hw/init.ontim_fac.rc

on boot
    chown gps gps /sys/ontim_bootinfo/gps_lna
    chown gps gps /sys/ontim_bootinfo/gps_avdd_en
    chown gps gps /sys/ontim_bootinfo/gps_reset
    chown gps gps /sys/ontim_bootinfo/gps_prtrg

on post-fs
    # Vibrator
    chown system system /sys/class/leds/vibrator/vmax_override
    # write /sys/class/leds/vibrator/vmax_override 1
    chown system system /sys/class/leds/vibrator/vmax_mv_user
    chown system system /sys/class/leds/vibrator/vmax_mv_call
    chown system system /sys/class/leds/vibrator/vmax_mv_strong
    chown system system /sys/class/leds/vibrator/vmax_mv
    chmod 0660 /sys/class/leds/vibrator/vmax_mv
    chmod 0660 /sys/class/leds/vibrator/vmax_mv_call
    chmod 0660 /sys/class/leds/vibrator/vmax_mv_strong
    chmod 0660 /sys/class/leds/vibrator/vmax_mv_user
    chmod 0660 /sys/class/leds/vibrator/vmax_override
    
    chown system system /sys/class/leds/vibrator/trigger
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state

    chown system system /sys/class/vibrator/wf_samp
    chown system system /sys/class/vibrator/wf_rep_count
    chown system system /sys/class/vibrator/wf_s_rep_count

on init
#added touch gesture wake node permission
    chown system /sys/devices/virtual/touch/tp_dev/gesture_on
    chown system /sys/devices/virtual/touch/tp_dev/tp_screen_switch

# ODM Ontim Factory test
on fs
    chown root system /dev/block/mmcblk0p53
    chmod 0660 /dev/block/mmcblk0p5

# add user thermal file
on boot
    chmod 0666 /sys/class/power_supply/battery/user_charge_op
    chmod 0666 /sys/class/power_supply/battery/user_charge_soc

    chmod 0666 /sys/devices/system/cpu/cpu0/rq-stats/mpctl
    chown system system /sys/devices/system/cpu/cpu0/rq-stats/mpctl
